.App .categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $white;

    .category-item {
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        .logo-container {
            display: flex;
            justify-content: center;

            img {
                width: 35px;
                height: 35px;
            }
        }
        .item-label {
            margin-top: 5px;
            text-align: center;
            color: $gray;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: $bold;
        }
    }
}
