.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $white;

    .category-item {
        display: flex;
        flex-direction: column;
        min-width: 75px;
        margin: 0 5px;
        padding: 15px;

        .logo-container {
            display: flex;
            justify-content: center;

            .logo {
                fill: blue;
                color: red;
            }
        }
        .label {
            margin-top: 10px;
            text-align: center;
            color: black;
        }
    }
}
