.App .header-container {
    display: flex;
    background: $blue;
    color: $white;
    justify-content: space-between;
    flex-wrap: wrap;
    
    div {
        display: flex;
        max-height: 30px;
    }
    
    .left-side-container, .middle-container, .right-side-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .middle-container {
        .login-container, .partnership-container {
            margin: 0 5%;
        }
    }

    .right-side-container {
        display: flex;
        justify-content: flex-end;
    }

    .search-container {
        display: flex;
        background: $white;
        border-radius: 50px;
        border-left: 1px solid $light-gray;
        width: 100%;

        .search-details {
            display: flex;
            margin-left: 5px;

            img {
                height: 15px;
                width: 15px;
                align-self: center;
            }
        }

        .input-container {
            width: 100%;
            .search-input {
                border: 0;
            }
        }

        .search-button-container {
            padding: 2px 5px;
            border-left: 1px solid $light-gray;
            width: fit-content;
            display: flex;
            justify-self: flex-end;

            img {
                height: 20px;
                width: 20px;
                display: flex;
                align-self: center;
            }
        }
    }

    .login-container {
        line-height: 1rem;
        display: flex;
        flex-direction: column;
        align-self: center;

        span {
            display: inline-block;
            font-size: 1rem;
        }

        .access-account {
            font-weight: $bold;
        }
    }

    .partnership-container {
        display: flex;
        flex-direction: column;
        line-height: 1rem;

        img {
            height: 15px;
        }
    }

    .orders-container {
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        padding: 0 15px;
        display: flex;
        align-self: center;
    }

    .cart-container {
        margin: 0 10px;
    }
}
