.slider-container{
    .carousel {
        width: 100%;

        .carousel-inner {
            margin: auto;
            overflow: unset;
            display: inline-flex;
        }
    }

    .carousel-item {
        text-align: center;
        vertical-align: middle;
        color: $white;
        font-weight: $bold;
    }

    .carousel-indicators li {
        background: transparent;
        background-image: url(../static/icons/ic_teky_sniper.svg);
        background-repeat: no-repeat;
        height: 25px;
        width: 25px;
    }
}
